<div class="content_movie m-5">
    <div class="content_movie-img">
        <img class="" [src]="dataSelected.images['Poster Art'].url" width="300" alt="Card image cap">
    </div>
    <div class="content_movie-text">
        <div class="content_movie_header">
            <h2 class="text-align-center">{{dataSelected.title}}</h2>
        </div>
        <div class="content_movie_body">
            <p><strong>Descripciòn:</strong>{{dataSelected.description}}</p>
        </div>
        <div class="content_movie_footer">
            <h3><strong>Año: </strong>{{dataSelected.releaseYear}}</h3>
        </div>
    </div>
</div>
