.content_movie {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.content_movie_header {
    width: 100%;
    background: #288fd4;
    color: white;
    text-align: center;
}

.content_movie-text {
    display: flex;
    flex-direction: column;
    border: 1px solid #288fd4;
    width: 100%;
    justify-content: space-between;
}

.content_movie_body {
    width: 100%;
    display: flex;
    padding: 10px;
}

.content_movie_footer {
    width: 100%;
    background: #288fd4;
    color: white;
    text-align: end;
    padding: 5px;
}
