<div class="container">
    <div class="row m-5">

        <div class="col-lg-4 ">
            <div class="form-group">
                <label for="formGroupExampleInput">Ordenar por:</label>
                <select (change)="onChange($event)" class="form-control">
                  <option>Selecione Opciòn</option>
                  <option value="nombre">Nombre</option>
                  <option value="year">Año</option>
            </select>
            </div>

        </div>

    </div>


    <app-streaming-detail *ngIf="itemSelected" [dataSelected]="itemSelected"></app-streaming-detail>
    <app-streaming-slider [programs]="series" (itemSelected)="selectedItem($event)" [title]="'series'"></app-streaming-slider>
    <app-streaming-slider [programs]="movies" (itemSelected)="selectedItem($event)" [title]="'movies'"></app-streaming-slider>

</div>
