<div class="row">
    <div class="col-lg-12 p-15">
        <h1>{{title}}</h1>
    </div>
</div>
<div class="row">
    <div class="MultiCarousel" data-items="1,3,4,4" data-slide="1" id="MultiCarousel" data-interval="1000">
        <div class="MultiCarousel-inner">
            <div class="item" (click)="selectItem(program)" *ngFor="let program of programs">
                <div class="pad15">
                    <img class="" [src]="program.images['Poster Art'].url" width="200" alt="Card image cap">
                </div>
            </div>

        </div>
        <button class="btn btn-primary leftLst"><</button>
        <button class="btn btn-primary rightLst">></button>
    </div>
</div>
