.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #57b9ef;
}

.login_container-form {
    width: 400px;
    border-radius: 10px;
    background: white;
    padding: 20px;
}