<div class="login_container">

    <div class="login_container-form">

        <div class="form-group">
            <label for="Password">Usuario</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" [(ngModel)]="user.nameUser">
            </div>

        </div>
        <div class="form-group">
            <label for="Password">Contraseña</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-lock" aria-hidden="true"></i></span>
                </div>
                <input type="password" class="form-control" id="Password" placeholder="Password" [(ngModel)]="user.password">
            </div>

        </div>
        <div class="d-flex justify-content-end">
            <button type="button" (click)="login()" class="btn btn-info">Ingresar</button>
        </div>
    </div>


</div>