<nav class="navbar navbar-expand-lg navbar-light bg-primary d-flex justify-content-end">

    <div class="">
        <button class="btn btn-outline-light my-2 my-sm-0" (click)="logout()" type="button">Logout</button>
    </div>
</nav>